header {
  background-image: url('../../../../assets/images/desktop/image-header.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;

  nav {
    margin-top: -600px;

    .navbar-header {
      .navbar-text {
        font: 800 36px "Heebo", sans-serif;
        color: white;
        margin-left: -40px;
      }
    }

    .navbar-toggler > .close {
      display: inline;
    }
    .navbar-toggler.collapsed > .close, .navbar-toggler:not(.collapsed) >.navbar-toggler-icon {
      display: none;
    }

    .collapse.show {
      display: block;
    }

    button {
      color: white;
      margin-top: 30px;

      .navbar-toggler-icon {
        color: white;
        width: 18px;
        height: 12px;
        position: absolute;
        top: 10px;
        right: 30px;
      }
    }

    .nav-menu {
      display: flex;
      flex-direction: row;
      justify-content: right;

      ul {
        list-style-type: none;
        margin-left: 200px;

        li {
          font: 500 24px "Poppins", sans-serif;
          color: white;
          padding-right: 40px;
          width: auto;
          text-transform: uppercase;
          transform: translateX(100rem);
          animation: slideIn .25s forwards;

          a {
            color: white;
            cursor: pointer;
            text-decoration: none;

            &:active {
              font-weight: 700;
            }

            &:hover {
              cursor: pointer;
              color: turquoise;
            }
          }

          &:nth-child(1) {
            animation-delay: 0s;
            width: 100px;
          }

          &:nth-child(2) {
            animation-delay: 0.25s;
            width: 200px;
          }

          &:nth-child(3) {
            animation-delay: 0.5s;
            width: 200px;
          }

          &:nth-child(4) {
            animation-delay: 0.75s;
            width: 200px;
          }
        }

        @keyframes slideIn {
          from {
          }
          to {
            transform: translateX(0);
          }
        }
      }
      button {
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 10px;
        background-color: white;
        color: black;
        margin-top: -15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  .creatives {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -100px;

    h2 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 900;
      color: white;
    }
    img {
      animation: bounce 1.5s linear infinite;
    }
    @keyframes bounce {
      20%, 50%, 80%, to {
        transform: translateY(0);
      }

      40% {
        transform: translateY(-30px);
      }

      70% {
        transform: translateY(-15px);
      }

      90% {
        transform: translateY(-5px);
      }

      100% {
        transform: translateY(0);
      }
    }
  }
}
