<header>
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header col-2">
            <a class="navbar-brand" href="#">
              <span class="navbar-text">sunnyside</span>
            </a>
          </div>
          <button class="navbar-toggler navbar-toggler-right collapsed d-lg-none" type="button"
                  data-toggle="collapse" data-bs-toggle="collapse"
                  data-target="#collapsableNavbar" data-bs-target="#collapsableNavbar"
                  aria-controls="collapsableNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">&#9776;</span>
            <span class="my-1 mx-2 close">X</span>
          </button>

          <div class="col-10 justify-content-end nav-menu" id="collapsableNavbar">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/services']">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/projects']">Projects</a>
              </li>
            </ul>

            <button>Contact</button>
          </div>
        </div>
      </nav>
    </div>
    <div class="creatives">
      <h2>We are creatives</h2>
      <img src="assets/images/icon-arrow-down.svg" alt="arrow down" height="80" width="40" />
    </div>
  </div>
</header>
