<main>
  <section class="feature">
    <div class="feature-image feature-image-egg"></div>
    <div class="feature-text feature-text-1 padding-x">
      <h2>Transform your brand</h2>
      <p>We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through
          compelling visuals that do most of the marketing for you.</p>
      <a class="link">Learn more</a>
    </div>
    <div class="feature-image feature-image-vase"></div>
    <div class="feature-text feature-text-2 padding-x">
      <h2>Stand out to the right audience</h2>
      <p>Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters,
        we&apos;ll build and extend your brand in digital places.</p>
      <a class="link">Learn more</a>
    </div>
    <div class="feature-image feature-image-grape">
      <div class="feature-image-content padding-x">
        <h2>Graphic design</h2>
        <p>Great design makes you memorable. We deliver artwork that underscores your brand message and captures
          potential clients&apos; attention.</p>
      </div>
    </div>
    <div class="feature-image feature-image-orange">
      <div class="feature-image-content padding-x">
        <h2>Photography</h2>
        <p>Increase your credibility by getting the most stunning, high-quality photos that improve your business image.
        </p>
      </div>
    </div>
  </section>

  <section class="testimonials">
    <h2>Client testimonials</h2>

    <div class="testimonials-row">
      <div class="testimonial">
        <img src="assets/images/image-emily.jpg" alt="Emily" />
        <p>We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.</p>
        <h4>Emily R.</h4>
        <span>Marketing Director</span>
      </div>
      <div class="testimonial">
        <img src="assets/images/image-thomas.jpg" alt="Thomas" />
        <p>Sunnyside&apos;s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and
          enjoyable experience.</p>
        <h4>Thomas S.</h4>
        <span>Chief Operating Officer</span>
      </div>
      <div class="testimonial">
        <img src="assets/images/image-jennie.jpg" alt="Jennie" />
        <p>Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!</p>
        <h4>Jennie F.</h4>
        <span>Business Owner</span>
      </div>
    </div>
  </section>

  <section class="photos">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </section>

  <footer>
    <h2>sunnyside</h2>

    <nav>
      <ul>
        <li><a href="about.html" target="_blank">About</a></li>
        <li><a href="services.html" target="_blank">Services</a></li>
        <li><a href="projects.html" target="_blank">Projects</a></li>
      </ul>
    </nav>

    <div class="social-media">
      <ul>
        <li>
          <a href="https://www.facebook.com" target="_blank">
            <img src="assets/images/icon-facebook.svg" alt="Facebook">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com" target="_blank">
            <img src="assets/images/icon-instagram.svg" alt="Instagram">
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com" target="_blank">
            <img src="assets/images/icon-twitter.svg" alt="Twitter">
          </a>
        </li>
        <li>
          <a href="https://www.pinterest.com" target="_blank">
            <img src="assets/images/icon-pinterest.svg" alt="Pinterest">
          </a>
        </li>
      </ul>
    </div>

    <div class="attribution">
      <h6>Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
      Coded by <a href="https://www.github.com/marvinrusinek" target="_blank">Marvin Rusinek</a>.</h6>
    </div>
  </footer>
</main>
